# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Databases
*.db
*.sqlite3

# Logs
*.log

# IDE
.idea/
.vscode/
