{"openapi":"3.0.0","info":{"title":"Vessels API","description":"The Vessels API retrieves information for active vessels that sail A.P. Moller-Maersk A/S routes\n\n# Overview\nThis service returns information for active vessels that sail A.P. Moller-Maersk A/S routes, including internal Maersk `carrierVesselCodes`\n\n# Who can get access?\nAll registered users of the Maersk Developer Portal can get access to the API.\n\n# Getting started\nAfter creating an account, **<a href=\"https://developer.maersk.com/login\" target=\"_blank\" style=\"font-weight: bold;\"><u>login</u></a>** and create an App to enable this API product for your Consumer Key. For step-by-step instructions, please refer to our **<a href=\"https://developer.maersk.com/support/getting-started-api\" target=\"_blank\" style=\"font-weight: bold;\"><u>Getting Started Guide</u></a>**.\n\n# How many calls can I make?\nTraffic and spike arrest limits are configured at the consumer key level for each API Product as detailed in the table below. If these limits are exceeded, the request is rejected with a 429 Too Many Requests HTTP status code.\n\n| Quota per Consumer Key | Traffic Surge Rate Limit per Consumer Key |\n|------------------------|-------------------------------------------|\n| 36,000 calls per hour  | 60 calls per minute                       |\n\n# Release Notes\n| Version | Date | Notes |\n|---------|------|-------|\n| 3.0.0   |      | Initial Draft | \n| 3.0.1   | 2022-04-08 | fixed examples |\n| 3.0.2   | 2023-11-08 | updated regex for vesselNames |\n   \n","version":"3.0.2"},"servers":[{"url":"https://api.maersk.com/reference-data","description":"Production Environment"},{"url":"https://api-stage.maersk.com/reference-data","description":"Pre-Production Environment"}],"security":[{"ApiKeyHeader":[]}],"tags":[{"name":"Vessels","description":"Vessels Operations"}],"paths":{"/vessels":{"get":{"tags":["Vessels"],"summary":"Vessel information","description":"Lists active vessel information for vessels that sail A.P. Moller-Maersk A/S routes","parameters":[{"name":"vesselIMONumbers","in":"query","description":"The unique 7-digit number assigned to a vessel by the International Maritime Organization (IMO)\\ <http://www.imo.org/en/Pages/Default.aspx>\n","required":false,"style":"form","explode":false,"schema":{"type":"array","minItems":1,"maxItems":50,"items":{"type":"number","pattern":"^[0-9]{7}$"}},"examples":{"oneVesselIMONumber":{"summary":"Example of a single vesselIMONumber","value":[9332999]},"multipleVesselIMONumbers":{"summary":"Example of multiple vesselIMONumbers","value":[9332999,9458030,9211494]}}},{"name":"carrierVesselCodes","in":"query","description":"The unique 3-character code assigned by A.P. Moller-Maersk A/S to a vessel for internal use\n","required":false,"style":"form","explode":false,"schema":{"type":"array","minItems":1,"maxItems":50,"items":{"type":"string","pattern":"^[a-zA-Z0-9]{3}$"}},"examples":{"oneVesselCode":{"summary":"Example of a single carrierVesselCode","value":["Q4F"]},"multipleVesselCodes":{"summary":"Example of multiple carrierVesselCodes","value":["Q4F","3EO","C53"]}}},{"name":"vesselNames","in":"query","description":"Name of the Vessel containing no more than 35 alpha characters or partial Name containing at least 2 alpha characters\n","required":false,"style":"form","explode":false,"schema":{"type":"array","minItems":1,"maxItems":50,"items":{"type":"string","pattern":"^[a-zA-Z0-9 -.]{2,35}$"}},"examples":{"oneVesselName":{"summary":"Example of a single vesselName","value":["Maersk Denver"]},"multipleVesselNames":{"summary":"Example of multiple vesselNames","value":["Maersk Denver","Maersk Edmonton","Maersk Kyrenia"]}}},{"name":"vesselFlagCodes","in":"query","description":"Vessel flag code that represents the 2-letter country code defined in the ISO 3166-1 standard published by the International Organization for Standardization (ISO) under whose laws the vessel is registered or licensed\n","required":false,"style":"form","explode":false,"schema":{"type":"array","minItems":1,"maxItems":50,"items":{"type":"string","pattern":"^[a-zA-Z]{2}$"}},"examples":{"oneVesselFlagCode":{"summary":"Example of a single vesselFlagCode","value":["US"]},"multipleVesselFlagCodes":{"summary":"Example of multiple vesselFlagCodes","value":["US","DE","GB"]}}}],"responses":{"200":{"description":"Returns a list of active vessels","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vessels"}},"application/stream+json":{"schema":{"$ref":"#/components/schemas/Vessels"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/Vessels"}}}},"400":{"description":"Bad request; the request is unacceptable often due to a missing or invalid parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}},"application/stream+json":{"schema":{"$ref":"#/components/schemas/ApiError"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"The client cannot be authenticated by the system","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"The client does not have permissions to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"The requested resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}},"application/stream+json":{"schema":{"$ref":"#/components/schemas/ApiError"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}},"application/stream+json":{"schema":{"$ref":"#/components/schemas/ApiError"}},"text/event-stream":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}}},"components":{"securitySchemes":{"ApiKeyHeader":{"type":"apiKey","name":"Consumer-Key","in":"header","description":"The Consumer Key issued for your registered application must be provided with every request"}},"schemas":{"ApiError":{"type":"object","required":["method","requestUri","status","timestamp","message","debugMessage"],"properties":{"method":{"type":"string","description":"The request method type e.g. GET, POST."},"requestUri":{"type":"string","description":"The request URI."},"status":{"type":"string","description":"The textual representation of the response status."},"timestamp":{"type":"string","description":"The date and time (dd-MM-yyyy hh:mm:ss) the error occured."},"message":{"type":"string","description":"High level error message."},"debugMessage":{"type":"string","description":"Detailed error message."},"subErrors":{"type":"array","items":{"$ref":"#/components/schemas/ApiValidationError"},"description":"The list of invalid fields in the request."}}},"ApiValidationError":{"type":"object","required":["field","rejectedValue","message"],"properties":{"field":{"type":"string","description":"The field that has failed validation."},"rejectedValue":{"type":"string","description":"The value that has failed validation."},"message":{"type":"string","description":"The reason and advice for failed validation."}}},"Vessels":{"type":"array","description":"The list of active vessels that sail A.P. Moller-Maersk A/S routes","items":{"$ref":"#/components/schemas/Vessel"}},"Vessel":{"type":"object","properties":{"vesselIMONumber":{"type":"number","description":"The unique 7-digit number assigned to a vessel by the International Maritime Organization (IMO)\\ <http://www.imo.org/en/Pages/Default.aspx>\n","example":9332999},"carrierVesselCode":{"type":"string","description":"The unique 3-character code assigned by A.P. Moller-Maersk A/S to a vessel for internal use\n","example":"9YF"},"vesselShortName":{"type":"string","description":"The first 18 characters of the vessel name","example":"MAERSK M. MOLLER"},"vesselLongName":{"type":"string","description":"The first 35 characters of the vessel name","example":"MAERSK MC-KINNEY MOLLER"},"vesselFlagCode":{"type":"string","description":"Vessel flag code that represents the 2-digit country code under whose laws the vessel is registered or licensed\n","example":"US"},"vesselBuiltYear":{"type":"number","description":"The year the vessel was built","example":2007},"vesselCallSign":{"type":"string","description":"A unique alphanumeric identity that belongs to the vessel and is assigned by the International Telecommunication Union (ITU).  It consists of a three-letter alphanumeric prefix that indicates nationality, followed by one to four characters to identify the individual vessel. The Vessel Call Sign changes whenever a vessel changes its flag.\n","example":"WMDQ"},"vesselCapacityTEU":{"type":"number","description":"The number of Twenty Foot Equivalent Units (TEUs) ISO-standard containers that the vessel can carry\n","example":6200}}}}}}