{"openapi":"3.0.0","info":{"title":"Locations API","description":"Search location details for countries, cities, sites, ports, terminals and depots associated with A.P. Moller-Maersk A/S (\"MAERSK\") products\n\n# Overview\nThis service returns information for Maersk locations including UN Location Codes and internal Maersk GeoIDs\n\n# Who can get access?\nAll registered users of the Maersk Developer Portal can get access to the API.\n\n# Getting started\nAfter creating an account, **<a href=\"https://developer.maersk.com/login\" target=\"_blank\" style=\"font-weight: bold;\"><u>login</u></a>** and create an App to enable this API product for your Consumer Key. For step-by-step instructions, please refer to our **<a href=\"https://developer.maersk.com/support/getting-started-api\" target=\"_blank\" style=\"font-weight: bold;\"><u>Getting Started Guide</u></a>**.\n\n# How many calls can I make?\nTraffic and spike arrest limits are configured at the consumer key level for each API Product as detailed in the table below. If these limits are exceeded, the request is rejected with a 429 Too Many Requests HTTP status code.\n\n| Quota per Consumer Key | Traffic Surge Rate Limit per Consumer Key |\n|------------------------|-------------------------------------------|\n| 36,000 calls per hour  | 60 calls per minute                       |\n","version":"4.0.0"},"servers":[{"url":"https://api.maersk.com/reference-data","description":"Production Environment"},{"url":"https://api-stage.maersk.com/reference-data","description":"Pre-Production Environment"},{"url":"https://api-cdt.maersk.com/reference-data","description":"Test Environment"}],"security":[{"ApiKeyHeader":[]}],"tags":[{"name":"Locations","description":"Locations Operations"}],"paths":{"/locations":{"get":{"tags":["Locations"],"summary":"Search Locations","description":"Search Locations based on filters","parameters":[{"$ref":"#/components/parameters/LocationType"},{"$ref":"#/components/parameters/CountryCode"},{"$ref":"#/components/parameters/CountryName"},{"$ref":"#/components/parameters/CityName"},{"$ref":"#/components/parameters/UnRegionCode"},{"$ref":"#/components/parameters/UnLocationCode"},{"$ref":"#/components/parameters/VesselOperatorCarrierCode"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Page"}],"responses":{"200":{"description":"Returns a list of Locations as defined by A.P. Moller-Maersk A/S\n","content":{"application/stream+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Location"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Location"}}},"text/event-stream":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Location"}}}},"headers":{"Next-Page":{"$ref":"#/components/headers/NextPage"}}},"400":{"description":"Bad request; the request is unacceptable often due to a missing or invalid parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"The requested resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"405":{"description":"Method not allowed on resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"deprecated":false}},"/carrier-locations/{carrierGeoID}":{"get":{"tags":["Locations"],"summary":"Retrieves Locations by MAERSK Geo ID","description":"Retrieves Location properties by Geo Location ID as defined by A.P. Moller-Maersk A/S","parameters":[{"name":"carrierGeoID","in":"path","description":"Geo Location ID as defined by A.P. Moller-Maersk A/S\n","required":true,"schema":{"type":"string","pattern":"^[0-9a-zA-Z]{13}$"},"example":"00015HZJMZGTP"},{"name":"isRequiredAlias","in":"query","description":"True if require to contain the alternate Aliases of the location in the response\n","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Returns a list of Locations","content":{"application/stream+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Location"},{"$ref":"#/components/schemas/CarrierLocation"}]}},"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Location"},{"$ref":"#/components/schemas/CarrierLocation"}]}},"text/event-stream":{"schema":{"allOf":[{"$ref":"#/components/schemas/Location"},{"$ref":"#/components/schemas/CarrierLocation"}]}}}},"400":{"description":"Bad request; the request is unacceptable often due to a missing or invalid parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"The requested resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"405":{"description":"Method not allowed on resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"deprecated":false}}},"components":{"securitySchemes":{"ApiKeyHeader":{"type":"apiKey","name":"Consumer-Key","in":"header","description":"The Consumer Key issued for your registered application must be provided with every request"}},"schemas":{"Location":{"type":"object","properties":{"countryCode":{"type":"string","description":"Two-letter country code defined in the ISO 3166-1 standard published by the International Organization for Standardization (ISO)\\\n<https://www.iso.org/iso-3166-country-codes.html>\n","example":"US"},"countryName":{"type":"string","description":"Name of the Country or partial Name containing at least 1 alpha character defined in the ISO 3166-1 standard published by the International Organization for Standardization (ISO)\\\n<https://www.iso.org/iso-3166-country-codes.html>\n","example":"United States"},"UNLocationCode":{"type":"string","description":"United Nations Code for Trade and Transport Locations (UN/LOCODE) as defined by the UNECE\n<https://www.unece.org/cefact/locode/welcome.html>\n","example":"USHOU"},"cityName":{"type":"string","description":"Name of the City\n","example":"Houston"},"UNRegionCode":{"type":"string","description":"Two-letter Region Code of the State or Country Subdivision as defined by the UNECE\\\n<http://www.unece.org/cefact/locode/subdivisions.html>\n","example":"TX"},"UNRegionName":{"type":"string","description":"The Name of the State or Country Subdivision for the Port of Load as defined by the UNECE     \n<http://www.unece.org/cefact/locode/subdivisions.html>\n","example":"Texas"},"locationType":{"type":"string","description":"type of location","example":"TERMINAL"},"locationName":{"type":"string","description":"Name of the Location","example":"Houston Terminal C4"},"carrierGeoID":{"type":"string","description":"Geo Location ID as defined by A.P. Moller-Maersk A/S\n","example":"0UGZOU2O902YE"}}},"CarrierLocation":{"type":"object","properties":{"carrierRktsCode":{"type":"string","description":"RKTS system location code as defined by A.P. Moller-Maersk A/S","example":"HOU"},"carrierRkstCode":{"type":"string","description":"RKST system location code as defined by A.P. Moller-Maersk A/S","example":"USHOUC4"},"timeZoneID":{"type":"string","description":"Time zone identifier, e.g. Europe/Copenhagen, BST","example":"America/Chicago"},"carrierCountryGeoID":{"type":"string","description":"Country Geo Location ID as defined by A.P. Moller-Maersk A/S","example":"3PUUQDPGC5PXA"},"alternateAliases":{"type":"array","description":"the alternate aliases of the location, only visible when the input query parameter `isRequiredAlias` is True","items":{"type":"string","example":"Houston Terminal"}}}},"ApiError":{"type":"object","required":["method","requestUri","status","timestamp","message","debugMessage"],"properties":{"method":{"type":"string","description":"The request method type e.g. GET, POST."},"requestUri":{"type":"string","description":"The request URI."},"status":{"type":"string","description":"The textual representation of the response status."},"timestamp":{"type":"string","description":"The date and time (dd-MM-yyyy hh:mm:ss) the error occured."},"message":{"type":"string","description":"High level error message."},"debugMessage":{"type":"string","description":"Detailed error message."},"subErrors":{"type":"array","items":{"$ref":"#/components/schemas/ApiValidationError"},"description":"The list of invalid fields in the request."}}},"ApiValidationError":{"type":"object","required":["field","rejectedValue","message"],"properties":{"field":{"type":"string","description":"The field that has failed validation."},"rejectedValue":{"type":"string","description":"The value that has failed validation."},"message":{"type":"string","description":"The reason and advice for failed validation."}}}},"parameters":{"CountryCode":{"name":"countryCode","in":"query","description":"Two-letter country code defined in the ISO 3166-1 standard published by the International Organization for Standardization (ISO)\\\n<https://www.iso.org/iso-3166-country-codes.html>\n","required":false,"schema":{"type":"string","pattern":"[a-zA-Z]{2}","example":"US"}},"CountryName":{"name":"countryName","in":"query","description":"Name of the Country or partial Name containing at least 1 alpha character defined in the ISO 3166-1 standard published by the International Organization for Standardization (ISO)\\\n<https://www.iso.org/iso-3166-country-codes.html>\n","required":false,"schema":{"type":"string","pattern":"^([a-zA-Z\\[\\]\\(\\)ɏ-€]+(?:. |-| |'|’|\\|))*[a-zA-Z\\[\\]\\(\\)ɏ-€]*$","example":"United States"}},"CityName":{"name":"cityName","in":"query","description":"Name of the City or partial City Name containing at least 2 alpha characters.  City Name searches permitted are:\n* Dur - City names starting with 'Dur' are returned such as Durban, Durango, Duras\n* Charleston|exact - City names that are exact match for 'Charleston' are returned\n* ton|endsWith - City names ending with 'ton' are returned such as Houston, Charleston, Kingston, Southampton\n* Charleston|contains - City names containing 'Charleston' are returned such as South Charleston, Charleston, Charleston North\n","required":false,"schema":{"type":"string","pattern":"^([a-zA-Z\\[\\]\\(\\)ɏ-€]+(?:. |-| |'|’|\\|))*[a-zA-Z\\[\\]\\(\\)ɏ-€]*$","example":"Houston|exact"}},"UnLocationCode":{"name":"UNLocationCode","in":"query","description":"United Nations Code for Trade and Transport Locations (UN/LOCODE) as defined by the UNECE\n<https://www.unece.org/cefact/locode/welcome.html>\n","required":false,"schema":{"type":"string","pattern":"[a-zA-Z]{2}[a-zA-Z0-9]{3}","example":"USHOU"}},"UnRegionCode":{"name":"UNRegionCode","in":"query","description":"Two-letter Region Code of the State or Country Subdivision as defined by the UNECE\\\n<http://www.unece.org/cefact/locode/subdivisions.html>\n","required":false,"schema":{"type":"string","pattern":"[a-zA-Z0-9]{1,3}","example":"TX"}},"LocationType":{"name":"locationType","in":"query","description":"Type of Location","required":false,"schema":{"type":"string","enum":["CITY","COUNTRY","TERMINAL","BARGE TERMINAL","RAIL TERMINAL","CONTAINER FREIGHT STATION","CUSTOMER LOCATION","DEPOT"],"example":"CITY"}},"VesselOperatorCarrierCode":{"name":"vesselOperatorCarrierCode","in":"query","description":"National Motor Freight Traffic Association (NMFTA) - Standard Carrier Alpha Codes (SCAC) 2019:\\\n<http://www.nmfta.org/pages/scac>\n* MAEU - Maersk A/S\n* SEAU - Maersk A/S* trading as Sealand Americas\n* SEJJ - Sealand Europe A/S\n* MCPU - Sealand Maersk Asia Pte. Ltd.\n* MAEI - Maersk Line Limited\n","required":false,"schema":{"type":"string","enum":["MAEU","SEAU","SEJJ","MCPU","MAEI"],"default":"MAEU"}},"Sort":{"name":"sort","in":"query","description":"Sort order for the data set returned in the response, e.g. countryName:asc, cityName:desc\\\n'asc' means ascending, 'desc' means descending\\\nif ':asc' or ':desc' is not specified then the default sorting asc (ascending) will be applied e.g countryName is equal to countryName:asc\n","required":false,"style":"form","explode":false,"schema":{"type":"array","uniqueItems":true,"minItems":1,"maxItems":3,"items":{"type":"string","pattern":"^(countryName|cityName|locationType|locationName)(:asc|:desc)?$"},"example":["countryName","cityName:desc"]}},"Limit":{"name":"limit","in":"query","description":"Specifies the number of data sets to be sent in the response.\n","required":false,"schema":{"type":"integer","minimum":10,"maximum":100,"default":25}},"Page":{"name":"page","in":"query","description":"This can be number/link/token/any reference of the current page/next page/first page/previous page/last page/any specific intermediate page\n","required":false,"schema":{"type":"string","example":125}}},"headers":{"NextPage":{"description":"Page reference representing the next page of data if not all items have been returned.\nTo fetch the next page of data the 'page' query request parameter should be set to this value.\n","schema":{"type":"string","example":16},"required":false}}}}